<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logotest2"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Plog"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".CommunityPostActivity"
            android:exported="false" />
        <activity
            android:name=".CommunityPostShowActivity"
            android:exported="false" />
        <activity
            android:name=".PostActivity"
            android:exported="false" />
        <activity
            android:name=".RouteListActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclingInfoActivity"
            android:exported="false" />
        <activity
            android:name=".FinishActivity"
            android:exported="false" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="1b96fc67568f72bcc29317e838ad740f" />
        <meta-data
            android:name="com.kakao.vectormap.APP_KEY"
            android:value="1b96fc67568f72bcc29317e838ad740f" />

        <activity
            android:name=".JoinActivity"
            android:exported="false" />
        <activity
            android:name=".PloggingActivity"
            android:exported="false" />
        <activity
            android:name=".MyPageActivity"
            android:exported="false" />
        <activity
            android:name=".MissionActivity"
            android:exported="false" />
        <activity
            android:name=".CommunityActivity"
            android:exported="false" />
        <activity
            android:name=".RankActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>